@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,300&display=swap');
 * {
    box-sizing: border-box;
}
body {
    background:rgb(148, 226, 200);
    margin:0;
    

}

.gallery-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 110px;
	grid-auto-flow: dense; 
   
}
.gallery__item{
   position: relative;
   
}

.gallery__item:nth-child(1){
    grid-column-start:span 1;
    grid-row-start:span 5;
    background-image: url(./img/rock.jpg);
    margin-top: 1rem;

}
.gallery__item:nth-child(2){
    grid-column-start:span 3;
    grid-row-start:span 5;
    background-image: url(./img/background.jpg);
    margin-top: 1rem;
    background-size: cover;
    z-index: 0;
    width: 100%;
   
    
}
.gallery__item:nth-child(3){
    grid-column-start:span 1;
    grid-row-start:span 4;
    margin-top: 1rem;
    background-size: cover;
    margin-left: -25vh;
    z-index: 1;
    

}
.gallery__img{
   
    object-fit: cover;
}
.gallery__img1{
    width:150px;
    margin: 20px 0px 0px 40px;
  
}
.gallery__img2{
    width:90px;
    margin: 40px 0px 0px 40px;
}
.gallery__title1{
    position:absolute;
    bottom:6rem;
    color:white;
    font-size:86px;
    margin-left: -6rem;
    font-family: 'Montserrat';
   

 }
.gallery__title2{
    position:absolute;
    bottom:3rem;
    color:white;
    font-size: 75px;
    margin-left: -5rem;
    font-family: 'Montserrat';

 }
 .gallery__title3{
    position:absolute;
    bottom:22rem;
    color:white;
    font-size: 25px;
    margin-left: 1rem;
    font-family: 'Merriweather';
   
}
.gallery__title4{
    position:absolute;
    bottom:18rem;
    color:white;
    font-size: 25px;
    margin-left: 1rem;
    font-family: 'Merriweather';
    font-style: italic;
    

 }
 .gallery__title5{
    position:absolute;
    bottom:16rem;
    color:white;
    font-size: 25px;
    margin-left: 1rem;
    font-family: 'Merriweather';
    font-style: italic;
    

 }
.guia {
    border: 0;
    border-top: 6px solid #1ABC9B;
    display:inline-block;
    
    width: 15%;
    
    
}

.progress-bar {
    width:33%;
    margin-top:18rem;
    background-color: white;
    border-radius: 14px;
    margin-left: 80vh;
  
} 
     
.progress-bar > p {
    color: white;
    background: #1ABC9B;
    padding: 2px;
    border-radius: 10px;
   
       
} 
#slider {
    position: absolute;
    bottom: 2rem;
    left: 83vh;
        
      
}

/* @media (min-width:768px){
    .gallery_container{
        grid-template-columns: repeat(5,2fr); 
    }
    .gallery__item:nth-child(1){
        grid-column-start:span 2;
        grid-row-start:span 2
}
.gallery__item:nth-child(2){
    grid-row-start:span 2;
} 
.gallery__item:nth-child(3){
    grid-row-start:span 3;
} */
/* @media (min-width:1350px){
    .gallery_container{
        grid-template-columns: repeat(5,1fr); 
        width: 100%;
        margin: auto;
    }
    .gallery__item:nth-child(1){
        grid-column-start:span 1;
        grid-row-start:span 5;
}
.gallery__item:nth-child(2){
    grid-column-start:span 1;
    grid-row-start:span 2;
}
.gallery__item:nth-child(3){
    grid-column-start:span 1;
    grid-row-start:span 2 ;
} */
 




/* .grid {
    display: grid;
    grid-template-columns: [x0] 285px [x1] 285px [x2] 285px [x3] 285px [x4] 285px [x5];
    grid-template-rows: [y0] 110px [y1] 275px [y2] 275px [y3] 110px [y4] 110px;
  }

  .header {
    background: rgb(3, 197, 223);
    grid-column: x0 / x5;
  }
  
  .rock {
    grid-row: y1 / y3;
    color: white;
    background-image: url("img/rock.jpg");
    
  }
  
  .rocket{
        position: relative;
        grid-column: x4 / x5;
        grid-row: y1 / y3;
        background-image: url("img/rocket.png");
        margin-left: -260px;
        z-index: 5;

  }
  .background {
    position: relative;
    grid-column: x1 / x4;
    grid-row: y1 / y3;
    background-image: url("img/background.jpg");
    z-index: 0;
    
      
    
  }
  
  .footer {
    background: rgb(3, 197, 223);
    grid-column: x0 / x5;
    grid-row: y3;
  } */